.screen {
  min-width: 100vw;
  padding: 0;
  height: 4708px;
  background-color: #ffffff;
}

.screen .body-framer-body {
  height: 4708px;
  background-color: #ffffff;
}

.screen .div-framer {
  position: relative;
  width: 1440px;
  height: 4708px;
  background-color: #ffffff;
}

.screen .footer-framer {
  position: absolute;
  width: 1440px;
  height: 28px;
  top: 4680px;
  left: 0;
  background-color: #000000;
}

.screen .div-framer-ikw {
  position: relative;
  width: 164px;
  height: 28px;
  left: 638px;
}

.screen .text-wrapper {
  position: absolute;
  height: 28px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .div-framer-tqj {
  position: absolute;
  width: 1440px;
  height: 320px;
  top: 4360px;
  left: 0;
}

.screen .div-connect {
  position: relative;
  width: 914px;
  height: 272px;
  left: 263px;
  background-color: #ffffff;
  border-radius: 56px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .overlap {
  position: relative;
  height: 272px;
  width: 1000px;
  border-radius: 56px;
  border: 1px solid;
  border-color: #00000029;
}

.screen .div-framer-thodb {
  display: flex;
  width: 402px;
  height: 88px;
  align-items: flex-start;
  gap: 16px;
  padding: 8px 273.55px 8px 32px;
  position: absolute;
  top: 39px;
  left: 98px;
  background-color: #fecdff;
  border-radius: 80px;
}

.screen .div-framer-ocyl {
  position: relative;
  width: 258.06px;
  height: 72px;
  margin-right: -161.55px;
}

.screen .div {
  position: absolute;
  height: 72px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 74px;
  letter-spacing: -5.60px;
  line-height: 72px;
  white-space: nowrap;
}

.screen .icon {
  position: relative;
  width: 88px;
  height: 72px;
  margin-right: -265.55px;
}

.screen .svg {
  position: relative;
  height: 72px;
  background-image: url(https://c.animaapp.com/mdhzsdulTJQRY5/img/vector-2.svg);
  background-size: 100% 100%;
}

.screen .vector {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 28px;
  left: 36px;
}

.screen .div-framer-razmw {
  display: flex;
  width: 299px;
  height: 88px;
  align-items: flex-start;
  gap: 16px;
  padding: 8px 691.6px 8px 32px;
  position: absolute;
  top: 39px;
  left: 516px;
  background-color: #92deff;
  border-radius: 80px;
}

.screen .div-framer-tqlcdr {
  position: relative;
  width: 154.85px;
  height: 72px;
  margin-right: -579.60px;
}

.screen .text-wrapper-2 {
  position: absolute;
  height: 72px;
  top: 0;
  left: 0;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 56px;
  letter-spacing: 0;
  line-height: 72px;
  white-space: nowrap;
}

.screen .svg-wrapper {
  position: relative;
  width: 88px;
  height: 72px;
  margin-right: -683.60px;
}

.screen .div-framer-vvuf {
  display: flex;
  width: 167px;
  height: 88px;
  align-items: flex-start;
  gap: 16px;
  padding: 8px 217.57px 8px 32px;
  position: absolute;
  top: 143px;
  left: 42px;
  background-color: #eaeaea;
  border-radius: 80px;
}

.screen .div-framer-bdfifi {
  position: relative;
  width: 22.75px;
  height: 72px;
  margin-right: -105.57px;
}

.screen .div-wrapper {
  position: relative;
  width: 88px;
  height: 72px;
  margin-right: -209.57px;
}

.screen .div-framer-ngzqd {
  display: flex;
  width: 382px;
  height: 88px;
  align-items: flex-start;
  gap: 16px;
  padding: 8px 400.31px 8px 32px;
  position: absolute;
  top: 143px;
  left: 224px;
  background-color: #ccff9c;
  border-radius: 80px;
}

.screen .div-framer-wyei {
  position: relative;
  width: 237.61px;
  height: 72px;
  margin-right: -288.31px;
}

.screen .text-wrapper-3 {
  position: absolute;
  height: 72px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50.1px;
  letter-spacing: 0;
  line-height: 72px;
  white-space: nowrap;
}

.screen .icon-2 {
  position: relative;
  width: 88px;
  height: 72px;
  margin-right: -392.31px;
}

.screen .overlap-group-wrapper {
  height: 72px;
}

.screen .overlap-group {
  position: relative;
  width: 87px;
  height: 72px;
  background-image: url(https://c.animaapp.com/mdhzsdulTJQRY5/img/vector-2.svg);
  background-size: 100% 100%;
}

.screen .div-framer-gvx {
  display: flex;
  width: 248px;
  height: 88px;
  align-items: flex-start;
  gap: 16px;
  padding: 8px 797.92px 8px 32px;
  position: absolute;
  top: 143px;
  left: 622px;
  background-color: #fdff8d;
  border-radius: 80px;
}

.screen .div-framer-uqpmq {
  position: relative;
  width: 104.5px;
  height: 72px;
  margin-right: -685.92px;
}

.screen .icon-3 {
  position: relative;
  width: 88px;
  height: 72px;
  margin-right: -789.92px;
}

.screen .div-framer-najqn {
  position: absolute;
  width: 1440px;
  height: 712px;
  top: 3648px;
  left: 0;
}

.screen .div-framer-lnol {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 552px;
  align-items: flex-start;
  gap: 64px;
  padding: 56px 40px 331.69px;
  position: relative;
  left: 120px;
  background-color: #000000;
  border-radius: 56px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .framer-text {
  display: flex;
  flex-direction: column;
  width: 1120px;
  height: 160px;
  align-items: flex-start;
  padding: 0px 0px 23.69px;
  position: relative;
  margin-bottom: 0;
}

.screen .p {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 67.8px;
  letter-spacing: -1.56px;
  line-height: 1.3;
  white-space: nowrap;
}

.screen .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 67.8px;
  letter-spacing: -1.56px;
  line-height: 1.3;
  white-space: nowrap;
}

.screen .div-framer-ydxpqc {
  position: relative;
  width: 1120px;
  height: 216px;
  margin-bottom: 0;
}

.screen .h-framer-text {
  width: 864px;
  height: 216px;
  padding: 0px 0px 3855.69px;
  position: absolute;
  top: 0;
  left: 256px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.screen .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #c5e3a5;
  font-size: 56px;
  letter-spacing: -1.12px;
  line-height: 1.3;
  white-space: nowrap;
}

.screen .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #c5e3a5;
  font-size: 56px;
  letter-spacing: -1.12px;
  line-height: 1.3;
  white-space: nowrap;
}

.screen .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #fecdff;
  font-size: 56px;
  letter-spacing: -1.12px;
  line-height: 1.3;
  white-space: nowrap;
}

.screen .div-framer-hcm {
  position: absolute;
  width: 208px;
  height: 176px;
  top: 40px;
  left: 0;
  border-radius: 144px;
  background: url(https://c.animaapp.com/mdhzsdulTJQRY5/img/image.png) 50% 50% /
    cover;
}

.screen .div-framer-xvsd {
  position: absolute;
  width: 1440px;
  height: 904px;
  top: 2744px;
  left: 0;
}

.screen .div-framer-vzu {
  position: relative;
  width: 1312px;
  height: 736px;
  top: 48px;
  left: 64px;
}

.screen .div-framer-kymtfl {
  position: absolute;
  width: 600px;
  height: 624px;
  top: 112px;
  left: 688px;
  background-color: #dac8ff;
  border-radius: 56px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .overlap-2 {
  position: relative;
  height: 624px;
  border-radius: 56px;
}

.screen .image {
  position: absolute;
  width: 520px;
  height: 330px;
  top: 246px;
  left: 40px;
  background: url(https://c.animaapp.com/mdhzsdulTJQRY5/img/image-1.png) 50% 50%
    / cover;
}

.screen .div-2 {
  position: absolute;
  width: 600px;
  height: 624px;
  top: 0;
  left: 0;
  border-radius: 56px;
  border: 1px solid;
  border-color: #0000000a;
}

.screen .div-framer-bhrx {
  display: flex;
  width: 520px;
  height: 72px;
  align-items: flex-start;
  padding: 0px 703px 0px 0px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.screen .div-framer-kltzea {
  position: relative;
  width: 431px;
  height: 72px;
  margin-right: -614.00px;
}

.screen .text-wrapper-8 {
  position: absolute;
  height: 72px;
  top: 0;
  left: 0;
  font-family: "Anton", Helvetica;
  color: #000000;
  font-size: 56px;
  letter-spacing: -1.12px;
  line-height: 1.3;
  font-weight: 400;
  white-space: nowrap;
}

.screen .icon-4 {
  position: relative;
  width: 89px;
  height: 72px;
  margin-right: -703.00px;
}

.screen .vector-wrapper {
  position: relative;
  width: 88px;
  height: 72px;
  left: 1px;
  background-image: url(https://c.animaapp.com/mdhzsdulTJQRY5/img/vector-2.svg);
  background-size: 100% 100%;
}

.screen .div-framer-dz {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 70px;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 0px 3020.03px;
  position: absolute;
  top: 144px;
  left: 40px;
}

.screen .div-framer-fpcw {
  position: relative;
  width: 520px;
  height: 33.5px;
  margin-bottom: 0;
}

.screen .text-wrapper-9 {
  position: absolute;
  height: 32px;
  top: 1px;
  left: 0;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 5px;
  white-space: nowrap;
}

.screen .text-wrapper-9 {
  position: absolute;
  height: 32px;
  top: 1px;
  left: 0;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 0px;
  white-space: nowrap;
}
.screen .text-wrapper-99 {
  position: absolute;
  height: 32px;
  top: 1px;
  left: 0;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.screen .div-framer-oizdsm {
  position: relative;
  width: 520px;
  height: 28px;
  margin-bottom: 0;
}

.screen .text-wrapper-10 {
  position: absolute;
  height: 28px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .div-framer-ofaxuv {
  position: absolute;
  width: 600px;
  height: 684px;
  top: 0;
  left: 0;
  background-color: #fecdff;
  border-radius: 56px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .overlap-3 {
  position: relative;
  height: 684px;
  border-radius: 56px;
  border: 1px solid;
  border-color: #0000000a;
}

.screen .div-framer-cjbkx {
  display: flex;
  width: 520px;
  height: 72px;
  align-items: flex-start;
  padding: 0px 16px 0px 0px;
  position: absolute;
  top: 39px;
  left: 39px;
}

.screen .div-framer-nkro {
  position: relative;
  width: 432px;
  height: 72px;
}

.screen .icon-5 {
  position: relative;
  width: 88px;
  height: 72px;
  margin-right: -16.00px;
}

.screen .div-framer-yihoyk {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 70px;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 0px 2908.03px;
  position: absolute;
  top: 143px;
  left: 39px;
}

.screen .div-framer-hocyjw {
  position: relative;
  width: 520px;
  height: 33.5px;
  margin-bottom: 0;
}

.screen .div-framer-kidhg {
  position: relative;
  width: 520px;
  height: 28px;
  margin-bottom: 0;
}

.screen .div-framer-ejf {
  position: absolute;
  width: 520px;
  height: 390px;
  top: 244px;
  left: 39px;
  border-radius: 32px;
  background: url(https://c.animaapp.com/mdhzsdulTJQRY5/img/image-2.png) 50% 50%
    / cover;
}

.screen .div-projects {
  display: flex;
  width: 1440px;
  height: 364px;
  align-items: flex-start;
  gap: 64.92px;
  padding: 120px 0px 0px 64px;
  position: absolute;
  top: 2380px;
  left: 0;
}

.screen .div-framer-ljbjr {
  position: relative;
  width: 473px;
  height: 136px;
  background-color: #ffffff;
  border-radius: 56px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .div-framer-wrapper {
  height: 136px;
  border-radius: 56px;
  border: 1px solid;
  border-color: #00000029;
}

.screen .div-framer-omjc {
  position: relative;
  width: 393px;
  height: 72px;
  top: 31px;
  left: 39px;
}

.screen .text-wrapper-11 {
  position: absolute;
  height: 72px;
  top: 0;
  left: 7px;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 56px;
  letter-spacing: -1.12px;
  line-height: 1.3;
  white-space: nowrap;
}

.screen .div-framer-obt {
  position: relative;
  width: 774.08px;
  height: 244px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .overlap-4 {
  position: relative;
  width: 774px;
  height: 244px;
  border: 1px solid;
  border-color: #00000029;
}

.screen .div-framer-obmhr {
  position: absolute;
  width: 208px;
  height: 176px;
  top: 33px;
  left: 31px;
  border-radius: 144px;
  background: url(https://c.animaapp.com/mdhzsdulTJQRY5/img/image-3.png) 50% 50%
    / cover;
}

.screen .paragraph-framer {
  display: flex;
  flex-direction: column;
  width: 454px;
  height: 196px;
  align-items: flex-start;
  padding: 0px 0px 2496.03px;
  position: absolute;
  top: 23px;
  left: 287px;
}

.screen .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .div-framer-iozr {
  position: absolute;
  width: 1440px;
  height: 644px;
  top: 1736px;
  left: 0;
}

.screen .div-photos {
  display: flex;
  flex-direction: column;
  width: 1312px;
  height: 644px;
  align-items: flex-start;
  gap: 48px;
  padding: 56px 48px 396.97px;
  position: relative;
  left: 64px;
  background-color: #000000;
  border-radius: 56px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .framer-text-2 {
  width: 1216px;
  height: 160px;
  padding: 0px 0px 1.5px;
  position: relative;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.screen .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 50.8px;
  letter-spacing: -1.56px;
  line-height: 1.3;
  white-space: nowrap;
}

.screen .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  font-size: 67.8px;
  letter-spacing: -1.56px;
  line-height: 1.3;
  font-weight: 400;
  white-space: nowrap;
}

.screen .div-framer-givb {
  position: relative;
  width: 1216px;
  height: 339.54px;
  margin-bottom: 0;
}

.screen .overlap-5 {
  position: absolute;
  width: 1440px;
  height: 1616px;
  top: 0;
  left: 0;
}

.screen .div-framer-lfpyrp {
  position: absolute;
  width: 1440px;
  height: 1188px;
  top: 0;
  left: 0;
}

.screen .div-framer-shx {
  position: absolute;
  width: 1248px;
  height: 1440px;
  top: 176px;
  left: 96px;
  overflow: hidden;
}

.screen .div-framer-mfho {
  display: flex;
  flex-direction: column;
  width: 487px;
  height: 1292px;
  align-items: flex-start;
  gap: 60px;
  position: absolute;
  top: 74px;
  left: 761px;
}

.screen .div-framer-x {
  position: relative;
  width: 486.72px;
  height: 884px;
}

.screen .div-capabilities {
  position: relative;
  width: 463px;
  height: 884px;
  left: 24px;
  background-color: #cdedff;
  border-radius: 56px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .overlap-group-2 {
  position: relative;
  height: 884px;
  border-radius: 56px;
}

.screen .div-framer-kffcqn {
  position: absolute;
  width: 367px;
  height: 209px;
  top: 475px;
  left: 48px;
}

.screen .div-3 {
  position: absolute;
  width: 463px;
  height: 884px;
  top: 0;
  left: 0;
  border-radius: 56px;
  border: 1px solid;
  border-color: #0000000a;
}

.screen .div-framer-digqf {
  position: absolute;
  width: 367px;
  height: 64px;
  top: 40px;
  left: 48px;
}

.screen .text-wrapper-21 {
  height: 64px;
  font-size: 49.1px;
  letter-spacing: -1.12px;
  line-height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  white-space: nowrap;
}

.screen .div-framer-tlvks {
  position: absolute;
  width: 367px;
  height: 275px;
  top: 152px;
  left: 48px;
}

.screen .div-framer-zgwh {
  position: absolute;
  width: 168px;
  height: 50px;
  top: 226px;
  left: 151px;
  background-color: #ffffff;
  border-radius: 40px;
}

.screen .div-framer-hlbi {
  position: relative;
  width: 136px;
  height: 34px;
  top: 8px;
  left: 16px;
}

.screen .div-framer-vyxs {
  position: absolute;
  width: 143px;
  height: 50px;
  top: 226px;
  left: 0;
  background-color: #ffffff;
  border-radius: 40px;
}

.screen .div-framer-qxosn {
  position: relative;
  width: 111px;
  height: 34px;
  top: 8px;
  left: 16px;
}

.screen .text-wrapper-22 {
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.screen .div-framer-veoy {
  position: absolute;
  width: 239px;
  height: 48px;
  top: 170px;
  left: 0;
  background-color: #ffffff;
  border-radius: 40px;
}

.screen .div-framer-qwwq {
  position: relative;
  width: 207px;
  height: 32px;
  top: 8px;
  left: 16px;
}

.screen .text-wrapper-23 {
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36.2px;
  letter-spacing: -2.40px;
  line-height: 32px;
  white-space: nowrap;
}

.screen .div-framer-kmhgc {
  position: absolute;
  width: 178px;
  height: 48px;
  top: 114px;
  left: 151px;
  background-color: #ffffff;
  border-radius: 40px;
}

.screen .div-framer-tdt {
  position: relative;
  width: 146px;
  height: 32px;
  top: 8px;
  left: 16px;
}

.screen .text-wrapper-24 {
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  font-family: "Bebas Neue", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.screen .div-framer-aes {
  position: absolute;
  width: 143px;
  height: 48px;
  top: 114px;
  left: 0;
  background-color: #ffffff;
  border-radius: 40px;
}

.screen .div-framer-rco {
  position: relative;
  width: 111px;
  height: 32px;
  top: 8px;
  left: 16px;
}

.screen .div-framer-cmujg {
  position: absolute;
  width: 226px;
  height: 48px;
  top: 58px;
  left: 0;
  background-color: #ffffff;
  border-radius: 40px;
}

.screen .div-framer-sdh {
  position: relative;
  width: 194px;
  height: 32px;
  top: 8px;
  left: 16px;
}

.screen .div-framer-ojjv {
  position: absolute;
  width: 114px;
  height: 48px;
  top: 0;
  left: 185px;
  background-color: #ffffff;
  border-radius: 40px;
}

.screen .div-framer-mzzx {
  position: relative;
  width: 82px;
  height: 32px;
  top: 8px;
  left: 16px;
}

.screen .text-wrapper-25 {
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20.1px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.screen .div-framer-gvmhv {
  position: absolute;
  width: 177px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 40px;
}

.screen .div-framer-hbxwb {
  position: relative;
  width: 145px;
  height: 34px;
  top: 8px;
  left: 16px;
}

.screen .paragraph-framer-2 {
  display: flex;
  flex-direction: column;
  width: 367px;
  height: 112px;
  align-items: flex-start;
  padding: 0px 0px 954.25px;
  position: absolute;
  top: 732px;
  left: 48px;
}

.screen .text-wrapper-26 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-27 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-28 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-29 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .div-framer-wjlui {
  position: relative;
  width: 486.72px;
  height: 348px;
}

.screen .div-framer-ncea {
  width: 471px;
  height: 348px;
  background-color: #ccff9c;
  border-radius: 56px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .overlap-group-3 {
  position: relative;
  height: 348px;
  border-radius: 56px;
  border: 1px solid;
  border-color: #0000000a;
}

.screen .div-framer-rddqr {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 124px;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 0px 1206.25px;
  position: absolute;
  top: 39px;
  left: 47px;
}

.screen .div-framer-tqlyk {
  position: relative;
  width: 240px;
  height: 72px;
  margin-bottom: 0;
}

.screen .div-framer-wjvewa {
  position: relative;
  width: 240px;
  height: 28px;
  margin-bottom: 0;
}

.screen .text-wrapper-30 {
  position: absolute;
  height: 28px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 100px;
  white-space: nowrap;
}

.screen .link-framer {
  position: absolute;
  width: 375px;
  height: 120px;
  top: 186px;
  left: 46px;
  border-radius: 120px;
  border: 1px solid;
  border-color: #00000029;
  background: url(https://c.animaapp.com/mdhzsdulTJQRY5/img/image-4.png) 50% 50%
    / cover;
}

.screen .div-framer-fh {
  position: absolute;
  width: 761px;
  height: 1440px;
  top: 0;
  left: 0;
}

.screen .div-work {
  position: absolute;
  width: 633px;
  height: 712px;
  top: 728px;
  left: 48px;
  background-color: #fecdff;
  border-radius: 56px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .overlap-group-4 {
  position: relative;
  height: 712px;
  border-radius: 56px;
  border: 1px solid;
  border-color: #0000000a;
}

.screen .div-framer-lahmk {
  position: absolute;
  width: 537px;
  height: 64px;
  top: 39px;
  left: 47px;
}

.screen .div-framer-fwzowy {
  display: flex;
  flex-direction: column;
  width: 537px;
  height: 520px;
  align-items: flex-start;
  gap: 48px;
  padding: 0px 0px 902.5px;
  position: absolute;
  top: 151px;
  left: 47px;
}

.screen .div-framer-muwr {
  display: flex;
  flex-direction: column;
  width: 537.29px;
  height: 69.5px;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 0px 0px;
  position: relative;
  margin-bottom: 0;
}

.screen .div-framer-sstzm {
  position: relative;
  width: 537.29px;
  height: 33.5px;
  margin-bottom: 0;
}

.screen .senior-product-wrapper {
  position: relative;
  width: 537.29px;
  height: 28px;
  margin-bottom: 0;
}

.screen .senior-product {
  position: absolute;
  height: 28px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .span {
  color: #000000cc;
  letter-spacing: -0.10px;
}

.screen .text-wrapper-31 {
  color: #000000;
  letter-spacing: -0.10px;
}

.screen .div-framer-vvwqc {
  display: flex;
  flex-direction: column;
  width: 537.29px;
  height: 201.5px;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 0px 1013.5px;
  position: relative;
  margin-bottom: 0;
}

.screen .div-framer-vxa {
  position: relative;
  width: 537.29px;
  height: 33.5px;
  margin-bottom: 0;
}

.screen .div-framer-2 {
  display: flex;
  flex-direction: column;
  width: 537.29px;
  height: 160px;
  align-items: flex-start;
  gap: 20px;
  padding: 0px 0px 1103px;
  position: relative;
  margin-bottom: 0;
}

.screen .text-wrapper-32 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .paragraph-framer-3 {
  display: flex;
  flex-direction: column;
  width: 537.29px;
  height: 112px;
  align-items: flex-start;
  padding: 0px 0px 1235px;
  position: relative;
  margin-bottom: 0;
}

.screen .text-wrapper-33 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-34 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-35 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-36 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .div-framer-s {
  display: flex;
  flex-direction: column;
  width: 537.29px;
  height: 153.5px;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 0px 1311px;
  position: relative;
  margin-bottom: 0;
}

.screen .div-framer-imocm {
  position: relative;
  width: 537.29px;
  height: 33.5px;
  margin-bottom: 0;
}

.screen .paragraph-framer-4 {
  display: flex;
  flex-direction: column;
  width: 537.29px;
  height: 112px;
  align-items: flex-start;
  padding: 0px 0px 1436.5px;
  position: relative;
  margin-bottom: 0;
}

.screen .text-wrapper-37 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-38 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-39 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-40 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .div-framer-za {
  position: absolute;
  width: 721px;
  height: 456px;
  top: 224px;
  left: 0;
  background-color: #eaeaea;
  border-radius: 56px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .overlap-6 {
  position: relative;
  height: 456px;
  border-radius: 56px;
  border: 1px solid;
  border-color: #0000000a;
}

.screen .div-framer-vhwtxw {
  display: flex;
  flex-direction: column;
  width: 369px;
  height: 376px;
  align-items: flex-start;
  gap: 20px;
  padding: 0px 0px 300px;
  position: absolute;
  top: 39px;
  left: 47px;
}

.screen .text-wrapper-41 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .paragraph-framer-5 {
  display: flex;
  flex-direction: column;
  width: 369.29px;
  height: 168px;
  align-items: flex-start;
  padding: 0px 0px 460px;
  position: relative;
  margin-bottom: 0;
}

.screen .text-wrapper-42 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-43 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-44 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-45 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-46 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-47 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .paragraph-framer-6 {
  display: flex;
  flex-direction: column;
  width: 369.29px;
  height: 140px;
  align-items: flex-start;
  padding: 0px 0px 648px;
  position: relative;
  margin-bottom: 0;
}

.screen .text-wrapper-48 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-49 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-50 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-51 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .text-wrapper-52 {
  position: relative;
  width: fit-content;
  margin-bottom: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000cc;
  font-size: 20px;
  letter-spacing: -0.50px;
  line-height: 28px;
  white-space: nowrap;
}

.screen .div-framer-neufq {
  position: absolute;
  width: 208px;
  height: 176px;
  top: 239px;
  left: 464px;
  border-radius: 144px;
  background: url(https://c.animaapp.com/mdhzsdulTJQRY5/img/image-5.png) 50% 50%
    / cover;
}

.screen .div-info {
  position: absolute;
  width: 635px;
  height: 176px;
  top: 0;
  left: 126px;
  background-color: #000000;
  border-radius: 56px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -12px #00000005;
}

.screen .div-framer-xzn {
  position: absolute;
  width: 363px;
  height: 80px;
  top: 48px;
  left: 224px;
}

.screen .text-wrapper-53 {
  position: absolute;
  height: 80px;
  top: 0;
  left: 0;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: -1.60px;
  line-height: 80px;
  white-space: nowrap;
}

.screen .icon-6 {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 24px;
  left: 48px;
}

.screen .svg-2 {
  height: 128px;
}

.screen .img-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  top: 4px;
  left: 4px;
  background-image: url(https://c.animaapp.com/mdhzsdulTJQRY5/img/vector-6.svg);
  background-size: 100% 100%;
}

.screen .img {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 16px;
  left: 16px;
}

.screen .header-framer {
  position: absolute;
  width: 1424px;
  height: 76px;
  top: 8px;
  left: 8px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(0, 0, 0, 0.02) 100%
  );
}

.screen .overlap-7 {
  position: relative;
  height: 76px;
  border-radius: 16px;
  border: 1px solid;
  border-color: #00000029;
}

.screen .div-framer-cdwjm {
  display: flex;
  width: 589px;
  height: 44px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.screen .link-framer-ecwb {
  position: relative;
  width: 62.57px;
  height: 44px;
  background-color: #eaeaea;
  border-radius: 24px;
}

.screen .div-wrapper-2 {
  position: relative;
  width: 39px;
  height: 28px;
  top: 8px;
  left: 12px;
}

.screen .link-framer-dtgvdn {
  position: relative;
  width: 149.32px;
  height: 44px;
  background-color: #cdedff;
  border-radius: 24px;
}

.screen .div-framer-licdo {
  position: relative;
  width: 125px;
  height: 28px;
  top: 8px;
  left: 12px;
}

.screen .link-framer-pqdosq {
  position: relative;
  width: 62.57px;
  height: 44px;
  background-color: #fecdff;
  border-radius: 24px;
}

.screen .link-framer-yvv {
  position: relative;
  width: 81.85px;
  height: 44px;
  background-color: #ccff9c;
  border-radius: 24px;
}

.screen .div-framer-eax {
  position: relative;
  width: 58px;
  height: 28px;
  top: 8px;
  left: 12px;
}

.screen .link-framer-uxnqk {
  position: relative;
  width: 101.13px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 24px;
}

.screen .div-framer-fylg {
  position: relative;
  width: 77px;
  height: 28px;
  top: 8px;
  left: 12px;
}

.screen .link-framer-aqq {
  position: relative;
  width: 91.49px;
  height: 44px;
  margin-right: -0.03px;
  background-color: #c5e3a5;
  border-radius: 24px;
}

.screen .div-framer-lmhoq {
  position: relative;
  width: 67px;
  height: 28px;
  top: 8px;
  left: 12px;
}

.screen .link-framer-xephf {
  position: absolute;
  width: 193px;
  height: 44px;
  top: 15px;
  left: 1214px;
  background-color: #000000;
  border-radius: 72px;
  overflow: hidden;
}

.screen .div-framer-zthvkf {
  position: relative;
  width: 145px;
  height: 28px;
  top: 8px;
  left: 24px;
}

.text-wrapper-53 {
  font-size: 40px !important;
}

.div-framer-tlvks {
  font-size: 18px !important;
}

.div-framer-tlvks .text-wrapper-9,
.div-framer-tlvks .text-wrapper-22,
.div-framer-tlvks .text-wrapper-24,
.div-framer-tlvks .text-wrapper-25 {
  font-size: 19px !important;
}

.screen,
.div-framer-iozr,
.div-photos,
.div-framer-lnol,
.div-framer-obt,
.overlap-4 {
  width: 100vw !important;
  max-width: 100vw !important;
  left: 0 !important;
  box-sizing: border-box;
}

.div-photos {
  padding-left: 5vw;
  padding-right: 5vw;
  left: 0 !important;
}

.div-framer-lnol,
.div-framer-obt,
.overlap-4 {
  padding-left: 5vw;
  padding-right: 5vw;
  left: 0 !important;
}


.text-wrapper-10 {
  color: #ffcccb;
}