.screen .link-framer-uxnqk {
  position: relative;
  width: 150px;
  height: 44px;
  background-color: #FF0000;
  border-radius: 24px;
}

.screen .div-framer-fylg {
  position: relative;
  width: 77px;
  height: 28px;
  top: 8px;
  left: 12px;
  text-align: center;
}